

.search-bar {
  font-size: 20px;
  margin-left: 1165px;
  display: inline-block;
 }
 
 .JACKET {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.JACKET-man-title {
   width: 50px;
   display: inline-block;
}

.JACKET-man-price {
   cursor: pointer;
}

.JACKET-woman-title {
   width: 50px;
   display: inline-block;
}

.JACKET-woman-price {
   cursor: pointer;
}

.JACKET-barn-title {
   width: 50px;
   display: inline-block;
}

.JACKET-barn-price {
   cursor: pointer;
}
.Eregtei-picture,
.Emegtei-picture,
.Huuhdiin-picture{

   width: 300px;
   height: 150px;
   margin-left: 10px;
   object-fit: contain;

}
.JACKET-text,
.T-SHIRT-text,
.SHOES-text,
.PANTS-text,
.ACCESSORIES-text,
.SOCKS-text, 
.COMPUTER-text,
.SMART-MOBILE-text,
.COMPUTER-ACCESSORIES-text {
 
   margin-bottom: 50px;
   margin-left: 30px ;
   font-size: 40px;
   background-color: blue;
   color: aliceblue;
   text-align: center;
   padding-top: 18px;
   padding-bottom: bottom 18px;
   text-decoration: underline;
   vertical-align: top;
}
